# =========================
# 1. Virtual Environment
# =========================
avicen/
venv/
env/
.venv/

# =========================
# 2. Secrets & Credentials
# =========================
.env
.env.*

# =========================
# 3. MLflow (LOCAL ARTIFACTS)
# =========================
mlruns/
mlartifacts/
mlflow.db

# =========================
# 4. Logs
# =========================
*.log

# =========================
# 5. Python Cache
# =========================
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/
.pytest_cache/

# =========================
# 6. OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# 7. DATASET (OPTIONAL)
# =========================
# healthy_diet_calorie_intake_preprocessing.csv
# healthy_diet_calorie_intake.csv